<mat-toolbar color="primary" style="margin-bottom: 1em">Hello Kottans Chernivtsi</mat-toolbar>

<mat-card color="accent" style="width: 600px; height: 16px; margin: 0 auto 1em auto; display: flex; justify-content: flex-start">
  {{enterString}}
</mat-card>

<mat-card style="width: 600px; height: 240px; margin: 0 auto">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(1)"
      >1</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(2)"
      >2</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(3)"
      >3</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="primary" style="margin-left: 24px"
        (click)="cancel()"
      >Cancel</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(4)"
      >4</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(5)"
      >5</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(6)"
      >6</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="warn" style="margin-left: 24px"
        (click)="clear()"
      >Clear</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(7)"
      >7</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(8)"
      >8</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(9)"
      >9</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        style="margin-left: 24px; background-color: #0a9356;"
        (click)="openDialog()"
      >Enter</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"><i class="material-icons"
        (click)="clickNum()"
      >&#xE314;</i></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="clickNum(0)"
      >0</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"><i class="material-icons"
        (click)="clickNum()"
      >&#xE315;</i></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent" style="margin-left: 24px"
        (click)="shuffleNumbers()"
      ><i class="material-icons">&#xE043;</i></button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-toolbar class="footer" color="primary">With&nbsp;<i class="material-icons">&#xE815;</i>&nbsp;<a href="https://github.com/nntndfrk" target="_blank">Michail Smolinskiy</a></mat-toolbar>
